.attribution {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --white: hsl(0, 0%, 100%);
  --purple-900: hsl(300, 43%, 22%);
  --purple-300: hsl(303, 10%, 53%);
  --purple-100: hsl(300, 24%, 96%);
  --pink-400: hsl(333, 80%, 67%);
  --orange-400: hsl(28, 84%, 61%);
}

@font-face {
  font-family: "League Spartan";
  src: url("./fonts/LeagueSpartan-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", "Arial Black", Verdana, Geneva, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/bg-pattern-top-mobile.svg"),
    url("./images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  min-height: 100vh; /* !!!!!для изоб на дестопе */
}

.social-proof {
  font-size: 1.6rem;
  width: 20.43em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4em 0;
}

.social-proof__title-wrapper {
  max-width: 90%;
  margin: 0 auto 1em auto;
}

.social-proof__title {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 0.85;
  letter-spacing: -0.05em;
  text-align: center;
  color: var(--purple-900);
}

.social-proof__description {
  font-weight: 500;
  font-size: 1.18em;
  line-height: 1.35;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--purple-300);
  margin-bottom: 1.8em;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 4.87em;
  background-color: var(--purple-100);
  border-radius: 0.5em;
  margin-top: 1em;
}

/* last review-card */
.review-card:nth-child(3) {
  margin-bottom: 2em;
}

.review-card__stars {
  width: 7.18em;
  height: 1.06em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-card__stars span {
  width: 1.06em;
  height: 1.06em;
  background-image: url(./images/icon-star.svg);
  background-repeat: repeat-x;
  background-size: 1.06em 1.06em;
}

.review-card__text {
  font-weight: 700;
  font-size: 1.06em;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  color: var(--purple-900);
}

.testimonial-card {
  width: 100%;
  height: 15.37em;
  padding: 2em;
  background-color: var(--purple-900);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5em;
  margin-top: 1em;
}

.testimonial-card__header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.testimonial-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1.5em;
}

.testimonial-card__image {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.testimonial-card__name {
  font-weight: 700;
  font-size: 1.06em;
  line-height: 1;
  letter-spacing: 0;
  color: var(--white);
  display: inline-block;
}

.testimonial-card__verified-buyer {
  font-weight: 400;
  font-size: 1.06em;
  line-height: 1;
  letter-spacing: 0;
  color: var(--pink-400);
  display: inline-block;
}

.testimonial-card__quote {
  font-weight: 500;
  font-size: 1.06em;
  line-height: 1.3;
  letter-spacing: -0.018em;
  color: var(--white);
}

@media (min-width: 1000em) {
  .social-proof {
    width: 28.31em;
  }

  .social-proof__title-wrapper {
    max-width: unset;
    overflow: visible;
  }

  .social-proof__title {
    font-size: 3.5em;
    letter-spacing: -0.035em;
    margin: 0 -0.5em 0 -0.5em;
  }

  .review-card {
    flex-direction: row;
    justify-content: start;
    padding: 1em 2em;
    height: 3.06em;
  }

  .review-card__text {
    height: 0.7em;
    margin-left: 1.8em;
  }

  .testimonial-card {
    height: 14em;
    padding: 2em 2.6em;
  }

  .testimonial-card:not(:first-of-type) {
    padding: 2.68em 2.6em;
  }
}

@media (min-width: 2000em) {
  body {
    background-image: url("./images/bg-pattern-top-desktop.svg"),
      url("./images/bg-pattern-bottom-desktop.svg");
  }

  .social-proof {
    width: 69.37em;
    height: 35.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .social-proof__title {
    margin: 0;
    text-align: start;
  }

  .social-proof__description {
    text-align: start;
    margin-top: 1.4em;
  }

  .social-proof__text {
    width: 27.8em;
    height: 100%;
  }

  .social-proof__ratings {
    width: 33.87em;
    height: 11.18em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .social-proof__intro {
    width: 100%;
    height: 15.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-proof__testimonials {
    width: 100%;
    height: 16em;
    display: flex;
    justify-content: space-between;
  }

  .review-card {
    width: 27.87em;
    margin: 0;
  }

  .review-card:nth-child(1) {
    margin-right: auto;
  }

  .review-card:nth-child(2) {
    margin: 0 auto 0 auto;
  }

  .review-card:nth-child(3) {
    margin-left: auto;
    margin-bottom: 0;
  }

  .testimonial-card {
    width: 21.87em;
    /*change padding:  ; */
    margin: 0;
  }

  .testimonial-card:nth-child(1) {
    margin-bottom: auto;
  }

  .testimonial-card:nth-child(2) {
    margin: auto 0 auto 0;
  }

  .testimonial-card:nth-child(3) {
    margin-top: auto;
  }

  .testimonial-card:not(:first-of-type),
  .testimonial-card:first-of-type {
    padding: 2em;
  }
}
